<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <p>{{ name }},hello world!<input type="text" v-model="name"></p>
    <p>{{ job }} </p>
    <input type="text" v-model="job">
  </div>
  <script src="http://cdn.jsdelivr.net/vue/1.0.26/vue.min.js" charset="utf-8"></script>
  <script type="text/javascript">
    // let a = new Vue({
    //   el: "#app",
    //   data: {
    //     name: "joe",
    //     job: "fe"
    //   }
    // })
  </script>
</body>
</html>
